@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/*Стили для страницы*/
body {
  background-color: #fafafa;
  font-family: Trebuchet MS, Helvetica;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
    padding-bottom: 15px;
    padding-top: 20px;
    text-align: center;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0px 10px 0;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #000;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.6em;
    color: #596b75;
    text-align: center;
    margin-bottom: 30px;
}

h4 a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #000;
}

span {
   display: block;
   font-family: 'Open Sans', sans-serif;
   font-size: 12px; 
   font-weight: 400;
   color: #000;
   padding-bottom: 10px;
}

/*Стили "Обо мне"*/

#main {
  display:block;
  float: left;
  margin: 60px 0 40px 0;
  padding: 0 10% 0px 10%;
  width: 80%;
  /*height: 100%;  */
  text-align: center;
}

#main .imag {
  overflow: hidden;
  justify-content: center;
  display:inline-block;
  position: relative;
  width: 500px;
  height: 600px;
  text-align: left;
  margin: 0 10px 0 10px;;
}

#main .imag:nth-child(odd) {
  /*text-align: center;*/
    /*  margin-left: 10%;*/
}

#main .imag img {
  float: left;
  height: 100%;
}

#main .imag h2 {
  text-align: left;
  padding-top: 0; 
  margin: 0 0 0 0;  
}

#main .imag .links img {
  float: left;
  width: 30px;
  height: 30px;
  padding: 0 10px 0 0;
  cursor: pointer;  
}
/*Стили "подпись внизу"*/
#bottom {
  display:block;
  position: relative; 
}

/*Стили "Портфолио"*/
#overview {
  display:inline-block;
  /*margin: 60px 0 40px 0;*/
  background-color: #f5f5f5;
  padding: 2px 0 0 0;
  width: 100%;
  text-align: center; 
}

#overview .imag {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display:inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
}

#overview .imag:nth-child(odd) {
  text-align: center;
    /*  margin-left: 10%;*/
}

#overview img {
  background: #fafafa;
  float: left;
  height: 100%;
}

#overview .imag a {
  position	: absolute;
  text-align: center;
  padding: 45% 0% 45% 0%;
  text-decoration: none;
  left		: 0;*/
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #fff;
  width: 300px;
}

#overview a:hover {
      color: #000;
      outline: 0;
      opacity: 0.9;
      background-color: #eee;  
    }

#overview button.download_price {
    color: #fff; 
	background: #324463; 
	margin: 10px 0 10px 0;
    padding: 10px 40px 10px 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
	border: 1px #324463;
    margin-bottom: 20px;
	} 
#overview button.download_price:hover { 
	background: #9facc2;
    color: #324463;
    cursor: pointer;
	}
/*Стили "Вопросы"*/

#fq {
  display:block;
  float: left;
  background-color: #f5f5f5;
  padding: 0 10% 100px 10%;
  width: 80%; 
}

#video {
  display:block;
  background-color: #f5f5f5;
  padding: 20px 0 0 0;
  width: 100%;
  text-align: center;
}
#video .content {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display:inline-block;
  position: relative;
  width: 1000px;
  height: 600px;   
}

#video .text {
  display:inline-block;
  text-align: left;
  width: 1000px;
  margin-bottom: 50px;  
}

#albom {
  display:block;
  margin: 60px 0 40px 0;
  padding: 0 10% 0px 10%;
  width: 80%;
  text-align: center;
  vertical-align:middle;  
}

#albom .imag {
  overflow: hidden;
  justify-content: center;
  display:inline-block;
  position: relative;
  width: 400px;
  margin: 0 10px 30px 10px;;
}

#albom .imag img {
  float: left;
  width: 400px;
  height: 250px;
}

#albom h3 {
text-align: left;
    width: 400px;
}
#albom .imag a {
  position: absolute;
  text-align: center; 
  text-decoration: none;
  padding: 112px 0 0 0;
  left: 0;
  float: left;
 font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #fff;
  width: 400px;
  height: 250px;
}

#albom .imag a:hover {
      color: #000;
      outline: 0;
      opacity: 0.9;
      background-color: #fff;  
    }

#photo {
   width: 100%;
   text-align: center;
}

#photo .title {
  width: 100%;
  text-align: center;  
}

#photo .title h2{
  width: 100%;
  text-align: center;
  margin: auto;
}

#photo .title span{
  width: 100%;
  text-align: center;
  margin: auto;
}

#photo .photos{
    display:inline-block;
    position: relative;
    max-width: 90%;
    min-width: 60%;
    margin: 40px 0 40px 0;
}

#photo .photos img {
  text-align: center;
  margin: 10px;  
  min-width: 20%;
  max-width: 70%;
  max-height: 90vh;
}


/*Стили для экранов 700px*/

@media (max-width: 700px) {
  
#main .imag {
  width: 100%;
  height: auto;
  text-align: left;
  margin: 0 10px 0 10px;;
}
}
/*Стили "Прайс на свадьбы"*/
#price {
  display:inline-block;
  margin: 60px 0 40px 0;*/
  background-color: #fff;
  padding: 2px 0 0 0;
  width: 100%;
  text-align: center; 
}
#price h2 {    
  padding: 0 0 0 0;
  margin: 0 0 10px 0;
}

#price h3 {    
  padding: 0 0 0 0;
  margin: 0 0 10px 0;
}

#price h4 {    
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#price .imag {
  overflow: hidden;
  justify-content: center;
  align-items: center;
    vertical-align: top;
  display:inline-block;
  position: relative;
  width: 300px;
  height: auto;
  margin: 20px;
}

#price .imag h3 {    
  padding: 0 0 0 0;
  margin: 0 0 10px 0;
}

#price .imag h4 {    
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#price .imag span {    
  float: left;
  display:inline-block;
  width: 300px;
  text-align: left;  
  padding: 0 0 0 0;
  margin: 10px 0 0 0;
}

#price .imag:nth-child(odd) {
  text-align: center;
    /*  margin-left: 10%;*/
}

#price .imag img {
  display:inline-block;
  background: #fafafa;
  float: left;
  height: 200px;
}

#price .imag a {
  position	: absolute;
  text-align: center;
  padding: 45% 0% 45% 0%;
  text-decoration: none;
  left		: 0;*/
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #fff;
  width: 300px;
}

#price a:hover {
      color: #000;
      outline: 0;
      opacity: 0.9;
      background-color: #eee;  
    }  
